
body {
    background-color: #93bf85;
    }
.container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    width: 100%;
}

.text-container {
    width: 70%; /* Ancho del contenedor de texto */
    font-size: 30px;
    color: #ffffff;
    text-align:left;
    
}

/* Estilos de las filas */
.row {
    display: flex; /* Usa flexbox para alinear las imágenes */
    justify-content: space-between; /* Distribuye el espacio entre las imágenes */
}

/* Estilos del contenedor principal */
.container {
    width: 80%; /* Ancho del contenedor */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    padding: 20px; /* Relleno del contenedor */
}

/* Estilos de las filas */
.row {
    display: flex; /* Usa flexbox para alinear las imágenes */
    justify-content: space-between; /* Distribuye el espacio entre las imágenes */
    margin-bottom: 20px; /* Margen inferior para separar las filas */
}

/* Estilos de las imágenes */
.image {
    width: 30%; /* Ancho de las imágenes */
    border-radius: 5px; /* Borde redondeado */

}

/* Estilo para las imágenes en pantallas pequeñas */
@media (max-width: 768px) {
    .image {
        width: 45%; /* Ancho de las imágenes en pantallas pequeñas */
    }
    }
     /* Estilos del texto */
    .figcaption {
            margin-top: 20px; /* Margen superior */
            font-size: 14px; /* Tamaño de la fuente */
            color: #000000; /* Color del texto */
            
        }
        .flex {
            display: flex;
        }
        
        .flex-col {
            flex-direction: column;
        }
        
        .items-center {
            align-items: center; /* Centra verticalmente los elementos */
        }