body {
    background-color: #aa8caf;
    }
.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}

.text-container {
    width: 70%; 
    font-size: 30px;
    color: #ffffff;
    text-align:left;
    align-items: center; 
    text-align: center; 
    
}

.image {
    width: 10%; 
    
    
}
