
body {
    background-image: url('https://i.postimg.cc/Nf3DJrJG/vecteezylilac-background-YK0221-generated.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  
.caption {
    font-weight: bold;
    color: #000000;
}

.image {
    width: 10%;
}
.custom-heading {
    font-size: 1.875rem; 
    font-weight: bold; 
    letter-spacing: -0.025em; 
    color: #131c29; 
    margin-left: 10%;
}

.separator {
    border: none;
    background-color: #7e287e;
    margin: 60px 0;
    height: 5px;
}


